

#mapid { width: 600px; height: 400px; }

.container{
	height: 350px;
	width: 250px;
	z-index: 999;
	clear: both;
	z-index: 0;
	top: 0!important;
	margin-top 12.5%;
}

.rectanglecontainer{
display: flex;
width: 100%;
}

#left{
	float: left;
	left: 0;
	position: absolute;
	height: 550px;
    width: 600px;
}

#right{
	float: right;
	right: 0;
	position:absolute;
}
.leaflet-container{
	position:inherit;
	width:550px;
	height:1000px;
	outline:none;
}